<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff;clear:left;font:14px Helvetica,Arial,sans-serif;width:100%;}
</style>
<div id="mc_embed_signup">
  <form action="https://github.us17.list-manage.com/subscribe/post?u=8d59b8ea24275deb2988103c6&amp;id=7f30f81d9c&amp;f_id=0085f5e0f0"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
        class="validate" target="_blank" novalidate>
    <h2>Hear about new posts</h2>
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <!-- honeypot -->
    <div style="position:absolute;left:-5000px;" aria-hidden="true">
      <input type="text" name="b_8d59b8ea24275deb2988103c6_7f30f81d9c" tabindex="-1" value="">
    </div>
    <div class="clear">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </form>
</div>
<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script>(function($){window.fnames=[];window.ftypes=[];fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj=jQuery.noConflict(true);</script>